---
---

@import "{{ site.theme }}";

.emoji {
  vertical-align: middle;
}

#main-content.post {
  margin: 0 auto;
  padding-left: 10px;
}

header.post h1,
header.post h2 {
  max-width: 54rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-size: 16px;
}

.highlight pre,
.highlight code {
  background: transparent;
}

aside#sidebar {
  width: 250px;
  position: sticky;
  top: 0
}

.inner {
  width: 100%;
  max-width: 70rem;
  position: relative;
}

.mobile-toc {
  display: none;
}

@media (width < 48rem) {
  header.post {
    padding: 40px 10px;
  }

  .post {
    padding: 0px 10px;
  }

  .desktop-toc {
    display: none;
  }

  .mobile-toc {
    display: block;
  }
}
