<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="preload" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"></noscript>
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="preload" href="https://cdn.jsdelivr.net/gh/mzlogin/rouge-themes@master/dist/base16.solarized.css"  as="style" onload="this.onload=null;this.rel='stylesheet'">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header class="post">
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ page.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ page.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix post">
        <main id="main-content" class="post">
          {% if page.date or page.categories %}
            <p>
              {% if page.date %}
              <strong>Date:</strong> <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
              {% endif %}

              {% if page.date and page.categories %}
                &nbsp;|&nbsp;
              {% endif %}

              {% if page.categories %}
                <strong>Tags:</strong>
                {% for category in page.categories %}
                  <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              {% endif %}
            </p>
          {% endif %}

          <section class="mobile-toc">
            <h2>Table of contents</h2>

            {% include toc.html html=content %}
          </section>

          {{ content }}

          <a href="/">Read more posts.</a>
        </main>

        <aside id="sidebar">
          <section>
            <h2>Contact</h2>
            <ul>
              <li>Homepage: <a href="https://thuyencode.com">thuyencode.com</a></li>
              <li>Email: <a href="mailto:thuyencode@proton.me">thuyencode@proton.me</a></li>
              <li>LinkedIn: <a href="https://www.linkedin.com/in/thuyencode/">Tran Van Thuyen</a></li>
              <li>Facebook: <a href="https://www.facebook.com/tran.van.thuyen.648991/">Tran Van Thuyen</a></li>
            </ul>
          </section>

          <section class="desktop-toc">
            <h2>Table of contents</h2>

            {% include toc.html html=content %}
          </section>
        </aside>
      </div>
    </div>

  </body>
</html>
